#### 
# To make your print_start macro work you need to put a bit of code in your slicer too. 
# Put this in the: Start G-code in SS at printer settings and then Custom G-code. Put in the code down below there.
#
# PRINT_START EXTRUDER_TEMP={first_layer_temperature[initial_extruder] + extruder_temperature_offset[initial_extruder]} BED_TEMP=[first_layer_bed_temperature]
####
#    In your End G-code you simply put:
#    print_end    ;end script from macro
####

[gcode_macro PRINT_START]
gcode:
    {% set target_bed = params.BED|default(90)|float %}
    {% set target_extruder = params.EXTRUDER|default(190)|float %}
    M140 S{target_bed} ; Start bed heating
    M190 S{target_bed} ; Wait for bed to reach temperature
    M117 Homing...                
    G28
    G1 Z5
    G1 Z5.0 F600 ; Move the platform down 15mm
    G1 X20 Y20 F3000
    M109 S{target_extruder} ; Set and wait for nozzle to reach temperature
    G1 X3 Y10 F3000
    G1 Z0.3 F240
    G92 E0 ; Zero the extruded length again
    #G1 Y190 E15.0 F1500.0 ; Intro line # Removed by HDG
    #G1 X5 F5000
    #G1 Y10 E30 F1200.0 ; Intro line
    #G92 E0.0 ; Zero the extruded length again 
    G1 F9000
    M117 Printing...
 

[gcode_macro PRINT_END] # Use PRINT_END for the slicer ending script
gcode:
    # Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    # Check end position to determine safe directions to move
    {% if printer.toolhead.position.x < (max_x - 15) %}
        {% set x_safe = 10.0 %}
    {% else %}
        {% set x_safe = -10.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 15) %}
        {% set y_safe = 10.0 %}
    {% else %}
        {% set y_safe = -10.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 50.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}
    
    # Start PRINT_END
    M400                               ; wait for buffer to clear
    G92 E0                             ; zero the extruder
    G1 E-2 F3600                       ; retract
    G91                                ; relative positioning
    G0 Z{z_safe} + Z5 F3600            ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000      ; move nozzle to remove stringing
    M104 S0                            ; turn off hotend
    M140 S0                            ; turn off bed
    M106 S0                            ; turn off fan
    G90                                ; absolute positioning
    G0 X{max_x / 2} Y{max_y - 5} F3600 ; park nozzle at rear
    M84
    M117 Finished!

#[gcode_macro G29] # Bed leveling Gcode command
#gcode:
#    M140 S110
#    M190 S110
#    G28
#    Z_TILT_ADJUST
#    BED_MESH_CALIBRATE profile=mesh
#    BED_MESH_PROFILE SAVE=mesh 
#    SAVE_CONFIG

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro M600] # Filament change Gcode command
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state
    
[gcode_macro M900] # Convert Marlin linear advance (M900) commands to Klipper (SET_PRESSURE_ADVANCE) commands.
gcode:
	{% set pa = params.K|float %}     ; Parameters
	SET_PRESSURE_ADVANCE ADVANCE={pa}

[gcode_macro Disable_Steppers]
gcode:
    M84

[gcode_macro RETRACTION_UP]
gcode:
    {% set CRLEN = printer.firmware_retraction.retract_length|float %}
    {% set NRLEN = CRLEN|float + 0.1 %}
    { action_respond_info("current retract_length %.2f, new retract_length %.2f" % (CRLEN, NRLEN))  }
    SET_RETRACTION RETRACT_LENGTH={NRLEN}    

[gcode_macro RETRACTION_DOWN]
gcode:
    {% set CRLEN = printer.firmware_retraction.retract_length|float %}
    {% set NRLEN = CRLEN|float - 0.1 %}
    { action_respond_info("current retract_length %.2f, new retract_length %.2f" % (CRLEN, NRLEN))  }
    SET_RETRACTION RETRACT_LENGTH={NRLEN}   


[gcode_macro SET_RETRACTIONLENGTH]
gcode:
  SET_RETRACTION RETRACT_LENGTH={params.LENGTH|float}
  GET_RETRACTION

[gcode_macro exhaustfan_on]
gcode: 
	SET_FAN_SPEED FAN=Exhaust_fan SPEED=1
	
[gcode_macro exhaustfan_off]
gcode: 
	SET_FAN_SPEED FAN=Exhaust_fan SPEED=0	
	
[gcode_macro enclosurefan_on]
gcode: 
	SET_FAN_SPEED FAN=chamber_fan SPEED=1
	
[gcode_macro enclosurefan_off]
gcode: 
	SET_FAN_SPEED FAN=chamber_fan SPEED=0

[gcode_macro RSCS_on]
gcode: 
	SET_FAN_SPEED FAN=RSCS SPEED=1

[gcode_macro RSCS_off]
gcode: 
	SET_FAN_SPEED FAN=RSCS SPEED=0

[gcode_macro LED_on]
gcode:
	SET_PIN PIN=LED value=1   

[gcode_macro LED_off]
gcode:
	SET_PIN PIN=LED value=0  	
	
[gcode_macro PA_tunning]
gcode: 
	SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=1 ACCEL=500
	TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.005

[gcode_macro TEST_RESONNANCES_X]
gcode:
 TEST_RESONANCES AXIS=X

[gcode_macro TEST_RESONNANCES_Y]
gcode:
 TEST_RESONANCES AXIS=Y

[gcode_macro Automatic_Inputshaper]
gcode:
  SHAPER_CALIBRATE
  Save_config

#[gcode_macro Hold_Resonance.]
#gcode:
## Axis
 # {% set axis = params.AXIS|string %}
## Seconds
 # {% set seconds = params.SECONDS|int %}
##Freq
 # {%set int = params.FREQ| int%}
 # HOLD_RESONANCE {rawparams}

[gcode_macro DUMP_WARNINGS]
description: Debug: Print all warning messages from klipper
gcode:
  {% set parameters = ["printer.configfile.warnings:"] %}
  {% for warning in printer.configfile.warnings %}
      {% set parameters = parameters.append("%s -> %s -> %s\n%s" % (warning.type, warning.section, warning.option, warning.message)) %}
  {% endfor %}
  {action_respond_info(parameters|join("\n"))}

[gcode_macro enable_stepper]
gcode:
 SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=1
 SET_STEPPER_ENABLE STEPPER=stepper_x1 ENABLE=1
 SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=1
 SET_STEPPER_ENABLE STEPPER=stepper_y1 ENABLE=1

[gcode_macro Sensorless_homing_Test]
gcode:
    {% set stepper = params.STEPPER|string %}
    {% set Value = params.VALUE|int %}
    SET_TMC_FIELD STEPPER={axis} FIELD=sgt VALUE={VALUE}

[gcode_macro PID_Calibrate_dropdown]
gcode:
    {% set heater = params.HEATER|string %}
    {% set target = params.TARGET|int %}
    PID_CALIBRATE HEATER={heater} TARGET={target}


